.modal-overlay,
.preloader-indicator-overlay,
.popup-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10600;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.modal-overlay.modal-overlay-visible,
.preloader-indicator-overlay.modal-overlay-visible,
.popup-overlay.modal-overlay-visible {
  visibility: visible;
  opacity: 1;
}
html.ios .modal-overlay.modal-overlay-visible,
html.ios .preloader-indicator-overlay.modal-overlay-visible,
html.ios .popup-overlay.modal-overlay-visible {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.popup-overlay {
  z-index: 10200;
}
.modal {
  width: 270px;
  position: absolute;
  z-index: 11000;
  left: 50%;
  margin-left: -135px;
  margin-top: 0;
  top: 50%;
  text-align: center;
  border-radius: 7px;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(1.185);
  transform: translate3d(0, 0, 0) scale(1.185);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  color: #000;
  display: none;
}
.modal.modal-in {
  opacity: 1;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
.modal.modal-out {
  opacity: 0;
  z-index: 10999;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: translate3d(0, 0, 0) scale(0.815);
  transform: translate3d(0, 0, 0) scale(0.815);
}
.modal-inner {
  padding: 15px;
  border-radius: 7px 7px 0 0;
  position: relative;
  background: #e8e8e8;
}
.modal-inner:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #b5b5b5;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
html.ios-gt-6.pixel-ratio-2 .modal-inner:after {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
html.ios-gt-6.pixel-ratio-3 .modal-inner:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.modal-title {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
.modal-title + .modal-text {
  margin-top: 5px;
}
.modal-buttons {
  height: 44px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.modal-buttons.modal-buttons-vertical {
  display: block;
  height: auto;
}
.modal-button {
  width: 100%;
  padding: 0 5px;
  height: 44px;
  font-size: 17px;
  line-height: 44px;
  text-align: center;
  color: #007aff;
  background: #e8e8e8;
  display: block;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
}
.modal-button:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: auto;
  bottom: auto;
  width: 1px;
  height: 100%;
  background-color: #b5b5b5;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
html.ios-gt-6.pixel-ratio-2 .modal-button:after {
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
html.ios-gt-6.pixel-ratio-3 .modal-button:after {
  -webkit-transform: scaleX(0.33);
  transform: scaleX(0.33);
}
.modal-button:first-child {
  border-radius: 0 0 0 7px;
}
.modal-button:last-child {
  border-radius: 0 0 7px 0;
}
.modal-button:last-child:after {
  display: none;
}
.modal-button:first-child:last-child {
  border-radius: 0 0 7px 7px;
}
.modal-button.modal-button-bold {
  font-weight: 500;
}
html:not(.watch-active-state) .modal-button:active,
.modal-button.active-state {
  background: #d4d4d4;
}
.modal-buttons-vertical .modal-button {
  border-radius: 0;
}
.modal-buttons-vertical .modal-button:after {
  display: none;
}
.modal-buttons-vertical .modal-button:before {
  display: none;
}
.modal-buttons-vertical .modal-button:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #b5b5b5;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
html.ios-gt-6.pixel-ratio-2 .modal-buttons-vertical .modal-button:after {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
html.ios-gt-6.pixel-ratio-3 .modal-buttons-vertical .modal-button:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.modal-buttons-vertical .modal-button:last-child {
  border-radius: 0 0 7px 7px;
}
.modal-buttons-vertical .modal-button:last-child:after {
  display: none;
}
.modal-no-buttons .modal-inner {
  border-radius: 7px;
}
.modal-no-buttons .modal-inner:after {
  display: none;
}
.modal-no-buttons .modal-buttons {
  display: none;
}
.actions-modal {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 11000;
  width: 100%;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.actions-modal.modal-in {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.actions-modal.modal-out {
  z-index: 10999;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.actions-modal-group {
  margin: 8px;
}
.actions-modal-button,
.actions-modal-label {
  width: 100%;
  text-align: center;
  font-weight: normal;
  margin: 0;
  background: rgba(243, 243, 243, 0.95);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
}
.actions-modal-button:after,
.actions-modal-label:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #d2d2d6;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
html.ios-gt-6.pixel-ratio-2 .actions-modal-button:after,
html.ios-gt-6.pixel-ratio-2 .actions-modal-label:after {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
html.ios-gt-6.pixel-ratio-3 .actions-modal-button:after,
html.ios-gt-6.pixel-ratio-3 .actions-modal-label:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.actions-modal-button a,
.actions-modal-label a {
  text-decoration: none;
  color: inherit;
}
.actions-modal-button b,
.actions-modal-label b {
  font-weight: 500;
}
.actions-modal-button.actions-modal-button-bold,
.actions-modal-label.actions-modal-button-bold {
  font-weight: 500;
}
.actions-modal-button.actions-modal-button-red,
.actions-modal-label.actions-modal-button-red {
  color: #ff3b30;
}
.actions-modal-button:first-child,
.actions-modal-label:first-child {
  border-radius: 4px 4px 0 0;
}
.actions-modal-button:last-child,
.actions-modal-label:last-child {
  border-radius: 0 0 4px 4px;
}
.actions-modal-button:last-child:after,
.actions-modal-label:last-child:after {
  display: none;
}
.actions-modal-button:first-child:last-child,
.actions-modal-label:first-child:last-child {
  border-radius: 4px;
}
.actions-modal-button {
  cursor: pointer;
  line-height: 43px;
  font-size: 20px;
  color: #007aff;
}
html:not(.watch-active-state) .actions-modal-button:active,
.actions-modal-button.active-state {
  background: #dcdcdc;
}
.actions-modal-label {
  font-size: 13px;
  line-height: 1.3;
  min-height: 44px;
  padding: 8px 10px;
  color: #8a8a8a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
input.modal-text-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  background: #fff;
  margin: 0;
  margin-top: 15px;
  padding: 0 5px;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  display: block;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
input.modal-text-input + input.modal-text-input {
  margin-top: 5px;
}
input.modal-text-input.modal-text-input-double {
  border-radius: 5px 5px 0 0;
}
input.modal-text-input.modal-text-input-double + input.modal-text-input {
  margin-top: 0;
  border-top: 0;
  border-radius: 0 0 5px 5px;
}
.popover {
  width: 320px;
  background: rgba(255, 255, 255, 0.95);
  z-index: 11000;
  margin: 0;
  top: 0;
  opacity: 0;
  left: 0;
  border-radius: 7px;
  position: absolute;
  display: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.popover.modal-in {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  opacity: 1;
}
.popover .list-block {
  margin: 0;
}
.popover .list-block ul {
  background: none;
}
.popover .list-block:first-child ul {
  border-radius: 7px 7px 0 0;
}
.popover .list-block:first-child ul:before {
  display: none;
}
.popover .list-block:first-child li:first-child a {
  border-radius: 7px 7px 0 0;
}
.popover .list-block:last-child ul {
  border-radius: 0 0 7px 7px;
}
.popover .list-block:last-child ul:after {
  display: none;
}
.popover .list-block:last-child li:last-child a {
  border-radius: 0 0 7px 7px;
}
.popover .list-block:first-child:last-child li:first-child:last-child a,
.popover .list-block:first-child:last-child ul:first-child:last-child {
  border-radius: 7px;
}
.popover .list-block + .list-block {
  margin-top: 35px;
}
.popover-angle {
  width: 26px;
  height: 26px;
  position: absolute;
  left: -26px;
  top: 0;
  z-index: 100;
  overflow: hidden;
}
.popover-angle:after {
  content: ' ';
  background: rgba(255, 255, 255, 0.95);
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.popover-angle.on-left {
  left: -26px;
}
.popover-angle.on-left:after {
  left: 19px;
  top: 0;
}
.popover-angle.on-right {
  left: 100%;
}
.popover-angle.on-right:after {
  left: -19px;
  top: 0;
}
.popover-angle.on-top {
  left: 0;
  top: -26px;
}
.popover-angle.on-top:after {
  left: 0;
  top: 19px;
}
.popover-angle.on-bottom {
  left: 0;
  top: 100%;
}
.popover-angle.on-bottom:after {
  left: 0;
  top: -19px;
}
.popover-inner {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.actions-popover .list-block + .list-block {
  margin-top: 20px;
}
.actions-popover .list-block ul {
  background: #fff;
}
.actions-popover-label {
  padding: 8px 10px;
  color: #8a8a8a;
  font-size: 13px;
  line-height: 1.3;
  text-align: center;
  position: relative;
}
.actions-popover-label:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #d2d2d6;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
html.ios-gt-6.pixel-ratio-2 .actions-popover-label:after {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
html.ios-gt-6.pixel-ratio-3 .actions-popover-label:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.actions-popover-label:last-child:after {
  display: none;
}
.popup,
.login-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10400;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.popup.modal-in,
.login-screen.modal-in,
.popup.modal-out,
.login-screen.modal-out {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.popup.modal-in,
.login-screen.modal-in {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.popup.modal-out,
.login-screen.modal-out {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.login-screen.modal-in,
.login-screen.modal-out {
  display: block;
}
@media all and (min-width: 630px) and (min-height: 630px) {
  .popup:not(.tablet-fullscreen) {
    width: 630px;
    height: 630px;
    left: 50%;
    top: 50%;
    margin-left: -315px;
    margin-top: -315px;
    -webkit-transform: translate3d(0, 1024px, 0);
    transform: translate3d(0, 1024px, 0);
  }
  .popup:not(.tablet-fullscreen).modal-in {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .popup:not(.tablet-fullscreen).modal-out {
    -webkit-transform: translate3d(0, 1024px, 0);
    transform: translate3d(0, 1024px, 0);
  }
}
@media all and (max-width: 629px), (max-height: 629px) {
  html.with-statusbar-overlay .popup {
    height: -webkit-calc(100% - 20px);
    height: calc(100% - 20px);
    top: 20px;
  }
  html.with-statusbar-overlay .popup-overlay {
    z-index: 9800;
  }
}
html.with-statusbar-overlay .login-screen,
html.with-statusbar-overlay .popup.tablet-fullscreen {
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
  top: 20px;
}
.modal .preloader {
  width: 34px;
  height: 34px;
}
.preloader-indicator-overlay {
  visibility: visible;
  opacity: 0;
  background: none;
}
.preloader-indicator-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 8px;
  margin-left: -25px;
  margin-top: -25px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 11000;
  border-radius: 5px;
}
.preloader-indicator-modal .preloader {
  display: block;
  width: 34px;
  height: 34px;
}
.picker-modal {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 260px;
  z-index: 11500;
  display: none;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  background: #cfd5da;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.picker-modal.modal-in,
.picker-modal.modal-out {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.picker-modal.modal-in {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.picker-modal.modal-out {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.picker-modal .picker-modal-inner {
  height: 100%;
  position: relative;
}
.picker-modal .toolbar {
  position: relative;
  width: 100%;
}
.picker-modal .toolbar:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #929499;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
html.ios-gt-6.pixel-ratio-2 .picker-modal .toolbar:before {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
html.ios-gt-6.pixel-ratio-3 .picker-modal .toolbar:before {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.picker-modal .toolbar + .picker-modal-inner {
  height: -webkit-calc(100% - 44px);
  height: -moz-calc(100% - 44px);
  height: calc(100% - 44px);
}
.picker-modal.picker-modal-inline,
.popover .picker-modal {
  display: block;
  position: relative;
  background: none;
  z-index: inherit;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.picker-modal.picker-modal-inline .toolbar:before,
.popover .picker-modal .toolbar:before {
  display: none;
}
.picker-modal.picker-modal-inline .toolbar:after,
.popover .picker-modal .toolbar:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #929499;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
html.ios-gt-6.pixel-ratio-2 .picker-modal.picker-modal-inline .toolbar:after,
html.ios-gt-6.pixel-ratio-2 .popover .picker-modal .toolbar:after {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
html.ios-gt-6.pixel-ratio-3 .picker-modal.picker-modal-inline .toolbar:after,
html.ios-gt-6.pixel-ratio-3 .popover .picker-modal .toolbar:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.popover .picker-modal {
  width: auto;
}
.popover .picker-modal .toolbar {
  background: none;
}
/* === Panels === */
.panel-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: 5999;
  display: none;
}
.panel {
  z-index: 1000;
  display: none;
  background: #111;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  width: 260px;
  top: 0;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.panel.panel-left.panel-cover {
  z-index: 6000;
  left: -260px;
}
.panel.panel-left.panel-reveal {
  left: 0;
}
.panel.panel-right.panel-cover {
  z-index: 6000;
  right: -260px;
}
.panel.panel-right.panel-reveal {
  right: 0;
}
body.with-panel-left-cover .views,
body.with-panel-right-cover .views {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
body.with-panel-left-cover .panel-overlay,
body.with-panel-right-cover .panel-overlay {
  display: block;
}
body.with-panel-left-reveal .views,
body.with-panel-right-reveal .views {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}
body.with-panel-left-reveal .panel-overlay,
body.with-panel-right-reveal .panel-overlay {
  display: block;
}
body.with-panel-left-reveal .views {
  -webkit-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}
body.with-panel-left-reveal .panel-overlay {
  margin-left: 260px;
}
body.with-panel-left-cover .panel-left {
  -webkit-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}
body.with-panel-right-reveal .views {
  -webkit-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
}
body.with-panel-right-reveal .panel-overlay {
  margin-left: -260px;
}
body.with-panel-right-cover .panel-right {
  -webkit-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
}
body.panel-closing .views {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}
/* === Images Lazy Loading === */
.lazy-loaded.lazy-fadeIn {
  -webkit-animation: lazyFadeIn 600ms;
  animation: lazyFadeIn 600ms;
}
@-webkit-keyframes lazyFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes lazyFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* === Tabs === */
.tabs .tab {
  display: none;
}
.tabs .tab.active {
  display: block;
}
.tabs-animated-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.tabs-animated-wrap > .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.tabs-animated-wrap > .tabs > .tab {
  width: 100%;
  display: block;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
}
/* === Messages === */
.messages-content {
  background: #fff;
}
.messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.messages-date {
  text-align: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  margin: 10px 15px;
  color: #8e8e93;
}
.messages-date span {
  font-weight: 400;
}
.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 10px 0;
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.message:first-child {
  margin-top: 10px;
}
.message .message-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 6px 16px 9px;
  min-width: 48px;
  min-height: 35px;
  font-size: 17px;
  line-height: 1.2;
  word-break: break-word;
}
.message.message-pic .message-text {
  padding: 0;
  background: none;
}
.message.message-pic img {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 16px;
}
.message-name {
  font-size: 12px;
  line-height: 1;
  color: #8e8e93;
  margin-bottom: 2px;
  margin-top: 7px;
}
.message-hide-name .message-name {
  display: none;
}
.message-label {
  font-size: 12px;
  line-height: 1;
  color: #8e8e93;
  margin-top: 4px;
}
.message-hide-label .message-label {
  display: none;
}
.message-avatar {
  width: 29px;
  height: 29px;
  border-radius: 100%;
  margin-top: -29px;
  position: relative;
  top: 1px;
  background-size: cover;
  opacity: 1;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.message-hide-avatar .message-avatar {
  opacity: 0;
}
.message-sent {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.message-sent .message-name {
  margin-right: 16px;
}
.message-sent .message-label {
  margin-right: 6px;
}
.message-sent.message-with-avatar .message-text {
  margin-right: 29px;
}
.message-sent.message-with-avatar .message-name {
  margin-right: 45px;
}
.message-sent.message-with-avatar .message-label {
  margin-right: 34px;
}
.message-sent .message-text {
  padding-right: 22px;
  background-color: #00d449;
  color: white;
  margin-left: auto;
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m84 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/></svg>") 50% 56% 46% 42%;
}
.message-sent.message-last .message-text,
.message-sent.message-with-tail .message-text {
  border-radius: 16px 16px 0 16px;
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m84 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/><path d='m96 70c-6-2-12-10-12-19v-16l-14 27s8 8 26 8z'/></svg>") 50% 56% 46% 42%;
}
.message-sent.message-last.message-pic img,
.message-sent.message-with-tail.message-pic img {
  border-radius: 16px 16px 0 16px;
}
.message-received {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.message-received .message-text {
  padding-left: 22px;
  background-color: #e5e5ea;
  color: #000;
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m96 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/></svg>") 50% 42% 46% 56%;
}
.message-received .message-name {
  margin-left: 16px;
}
.message-received .message-label {
  margin-left: 6px;
}
.message-received.message-with-avatar .message-text {
  margin-left: 29px;
}
.message-received.message-with-avatar .message-name {
  margin-left: 45px;
}
.message-received.message-with-avatar .message-label {
  margin-left: 34px;
}
.message-received.message-last .message-text,
.message-received.message-with-tail .message-text {
  border-radius: 16px 16px 16px 0;
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m96 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/><path d='m0 70c6-2 12-10 12-19v-16l14 27s-8 8-26 8z'/></svg>") 50% 42% 46% 56%;
}
.message-received.message-last.message-pic img,
.message-received.message-with-tail.message-pic img {
  border-radius: 16px 16px 16px 0;
}
.message-last {
  margin-bottom: 8px;
}
.message-appear-from-bottom {
  -webkit-animation: messageAppearFromBottom 400ms;
  animation: messageAppearFromBottom 400ms;
}
.message-appear-from-top {
  -webkit-animation: messageAppearFromTop 400ms;
  animation: messageAppearFromTop 400ms;
}
.messages-auto-layout .message-name,
.messages-auto-layout .message-label {
  display: none;
}
.messages-auto-layout .message-avatar {
  opacity: 0;
}
.messages-auto-layout .message-first .message-name {
  display: block;
}
.messages-auto-layout .message-last .message-avatar {
  opacity: 1;
}
.messages-auto-layout .message-last .message-label {
  display: block;
}
html.retina.ios-6 .message,
html.retina.ios-6 .message.message-pic img {
  -webkit-mask-box-image: none;
  border-radius: 16px;
}
@-webkit-keyframes messageAppearFromBottom {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes messageAppearFromBottom {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes messageAppearFromTop {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes messageAppearFromTop {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
/* === Statusbar overlay === */
html.with-statusbar-overlay body {
  padding-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html.with-statusbar-overlay body .statusbar-overlay {
  display: block;
}
html.with-statusbar-overlay body .panel {
  padding-top: 20px;
}
.statusbar-overlay {
  background: #f7f7f8;
  z-index: 10000;
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 100%;
  display: none;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
/* === Preloader === */
.preloader {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: preloader-spin 1s step-end infinite;
  animation: preloader-spin 1s step-end infinite;
}
.preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='%23l' opacity='.27'/><use xlink:href='%23l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='%23l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='%23l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='%23l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='%23l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='%23l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='%23l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='%23fff' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='%23l' opacity='.27'/><use xlink:href='%23l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='%23l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='%23l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='%23l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='%23l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='%23l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='%23l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
}
@-webkit-keyframes preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  8.33333333% {
    -webkit-transform: rotate(30deg);
  }
  16.66666667% {
    -webkit-transform: rotate(60deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  33.33333333% {
    -webkit-transform: rotate(120deg);
  }
  41.66666667% {
    -webkit-transform: rotate(150deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  58.33333333% {
    -webkit-transform: rotate(210deg);
  }
  66.66666667% {
    -webkit-transform: rotate(240deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  83.33333333% {
    -webkit-transform: rotate(300deg);
  }
  91.66666667% {
    -webkit-transform: rotate(330deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  8.33333333% {
    transform: rotate(30deg);
  }
  16.66666667% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(90deg);
  }
  33.33333333% {
    transform: rotate(120deg);
  }
  41.66666667% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(180deg);
  }
  58.33333333% {
    transform: rotate(210deg);
  }
  66.66666667% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(270deg);
  }
  83.33333333% {
    transform: rotate(300deg);
  }
  91.66666667% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* === Pull To Refresh === */
.pull-to-refresh-layer {
  position: absolute;
  position: relative;
  margin-top: -44px;
  left: 0;
  top: 0;
  width: 100%;
  height: 44px;
}
.pull-to-refresh-layer .preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  visibility: hidden;
}
.pull-to-refresh-layer .pull-to-refresh-arrow {
  width: 13px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -10px;
  background: no-repeat center;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 40'><polygon points='9,22 9,0 17,0 17,22 26,22 13.5,40 0,22' fill='%238c8c8c'/></svg>");
  background-size: 13px 20px;
  z-index: 10;
  -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
  transform: rotate(0deg) translate3d(0, 0, 0);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.pull-to-refresh-content.pull-to-refresh-no-navbar {
  margin-top: -44px;
  height: -webkit-calc(100% + 44px);
  height: -moz-calc(100% + 44px);
  height: calc(100% + 44px);
}
.pull-to-refresh-content.pull-to-refresh-no-navbar .pull-to-refresh-layer {
  margin-top: 0;
}
.pull-to-refresh-content.transitioning,
.pull-to-refresh-content.refreshing {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.pull-to-refresh-content:not(.refreshing) .pull-to-refresh-layer .preloader {
  -webkit-animation: none;
  animation: none;
}
.pull-to-refresh-content.refreshing {
  -webkit-transform: translate3d(0, 44px, 0);
  transform: translate3d(0, 44px, 0);
}
.pull-to-refresh-content.refreshing .pull-to-refresh-arrow {
  visibility: hidden;
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}
.pull-to-refresh-content.refreshing .preloader {
  visibility: visible;
}
.pull-to-refresh-content.pull-up .pull-to-refresh-arrow {
  -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
  transform: rotate(180deg) translate3d(0, 0, 0);
}
/* === Swiper === */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-fles-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='%23007aff'/></svg>");
  left: 10px;
  right: auto;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='%23007aff'/></svg>");
  right: 10px;
  left: auto;
}
/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
}
/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}
/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active {
  pointer-events: auto;
}
/* Cube */
.swiper-container-cube {
  overflow: visible;
}
.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow {
  z-index: 0;
}
/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
/* === Photo Browser === */
.photo-browser {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10500;
}
body > .photo-browser {
  opacity: 0;
  display: none;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
body > .photo-browser.photo-browser-in {
  display: block;
  -webkit-animation: photoBrowserIn 400ms forwards;
  animation: photoBrowserIn 400ms forwards;
}
body > .photo-browser.photo-browser-out {
  display: block;
  -webkit-animation: photoBrowserOut 400ms forwards;
  animation: photoBrowserOut 400ms forwards;
}
html.with-statusbar-overlay body > .photo-browser {
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
  top: 20px;
}
.popup > .photo-browser .navbar,
body > .photo-browser .navbar,
.popup > .photo-browser .toolbar,
body > .photo-browser .toolbar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.photo-browser .page[data-page="photo-browser-slides"] {
  background: none;
}
.photo-browser-popup {
  background: none;
}

.open-popup {
  cursor: pointer;
}
