<div class="admin">
  <p>管理画面</p>
  花火大会名: <input class="name" value="<%= @e.name %>"><br>
  開始時刻: <input class="start_time" value="<%= @e.start_time %>"><br>
  終了時刻: <input class="end_time" value="<%= @e.end_time %>">
  <div class="admin-submit">更新</div>
  <div class="to_top">TOPへ</div>
</div>
