<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>たまやボタン</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta property="og:title" content="たまやボタン" />
  <meta property="og:description" content="目で見た花火がスマホに届く" />
  <meta property="og:url" content="http://tamayabutton.com" />
  <meta property="og:image" content="http://tamayabutton.com/tamaya_ogp.png" />
  <meta property="og:site_name" content="たまやボタン" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="style/fireworks.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="style/lp.css" media="screen" />
  <script src="script/soundmanager2-nodebug-jsmin.js"></script>
  <script src="script/fireworks.js"></script>
  <script type="text/javascript">
    var ua = navigator.userAgent;
	if (ua.indexOf('iPhone') > 0
			|| (ua.indexOf('Android') > 0) && (ua.indexOf('Mobile') > 0)
			|| ua.indexOf('Windows Phone') > 0) {
           $(function() {
               $("#pc_alert").css("display","none");
               $(".btn01").css("display","block");
               $(".alert").css("display","block");
           });
	}
  </script>
  <%= favicon_link_tag 'icon.png' %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48829118-4', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.4&appId=307294179337294";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="fireworks-template">
   <div id="fw" class="firework"></div>
   <div id="fp" class="fireworkParticle"><img src="image/particles.gif" alt="" /></div>
 </div>

 <div id="fireContainer"></div>

<%= yield %>
<script src="/my-app.js"></script>

</body>
</html>
